@charset "UTF-8";

h3, h4, h5 {font-weight: var(--fw-600);}
#hero{
background-image: none;
background: var(--gray-30-solid);
background: -moz-linear-gradient(180deg, var(--gray-30-solid) 0%, var(--gray-10-solid) 100%);
background: -webkit-linear-gradient(180deg, var(--gray-30-solid) 0%, var(--gray-10-solid) 100%);
background: linear-gradient(180deg, var(--gray-30-solid) 0%, var(--gray-10-solid) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E8E8E8",endColorstr="#F2F2F2",GradientType=1);
}
#hero {
	position: relative;
	padding: 0;
}
.hero-background-image {
	object-fit: cover;
	object-position: 50% 30%;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.icon a {
	color: var(--dark-60)
}
a > svg {
	fill: var(--dark-60);
	width:40px;
	height:44px;
}
a:hover svg {
	fill: var(--dark-90);
}
#droplinks .icon{
	min-width:110px;
}
#droplinks {
	background-color: var(--bg-body);
	padding: .5rem 0 1rem;
}
.drop-links-xs a img {
	width: 40px;
}
/* IBKR ADVANTAGE */
    #ibkr-advantage ul.checklist > li {
    font-size: 125%;
    line-height: 1.3;
}
#ibkr-advantage {
	padding-bottom: 0px;
	padding-top: 40px;
}
#ibkr-advantage ul.checklist {
	padding: 0px 30px 0px 30px;
} 
.footnote{
	line-height:1.2;
	color: var(--font-color-light);
}
/* ANIMATING CHEVRONS ---------------------------------------------------------------------------------------------------- */
.title-fx {
	margin: 0 5px 0 0;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
}
.fa-chevron-circle-right, .fa-chevron-right {
	font-size: var(--fs-8)
}
.title-fx:hover {
	margin: 0 10px 0 0;
}
i.fa-chevron-circle-right, i.fa-chevron-right {
	font-size: 0.8rem;
}
/*// microsite background gradient:*/
#ibkr-advantage{
background-image: none;
background: var(--bg-body);
background: -moz-linear-gradient(180deg, var(--gray-10-solid) 0%, var(--bg-body) 100%);
background: -webkit-linear-gradient(180deg, var(--gray-10-solid) 0%, var(--bg-body) 100%);
background: linear-gradient(180deg, var(--gray-10-solid) 0%, var(--bg-body) 100%);
}
figure.hero-background-image-wrapper{ margin-bottom: 0;} /* Vertically centers hero text for stacked layouts in small screens*/
/* TRADING TECH */
#trading-tech {
	padding-top: 50px;
}
#trading-tech .client-centric {
	margin-top: 40px;
}
#trading-tech a {
	text-decoration: none;
}
#trading-tech-img {
	background-color: #212328;
	background-image: url("../../images/web/tech-bkgd.jpg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	min-height: 440px;
}
/* INTEGRATED CASH MANAGEMENT */
#integrated-cash-mngt-sec {
	background-image: url("../../images/web/integrated-cash-management-band.jpg");
	background-color: #e7e8e9;
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	margin-top: 80px;
	min-height: 200px;
	margin-bottom: 40px;
}
.int-invest-mngt {
	padding-top: 0px;
}
[data-theme="dark"] #org-chart img {filter:invert(1); -webkit-filter:invert(1);}
/* OPEN ACCOUNT */
#open-acct {
	background: linear-gradient(var(--gray-10-solid) 0%, var(--bg-body) 20%);
	padding-bottom: 60px;
}
#open-acct h2{
	margin-bottom: 1rem;
}

#open-acct a.btn {
	margin: 0 4px 0 0;
}
/*// hero h2 responsive sizes:*/
/* MEDIA QUERY | EXTRA SMALL < 576px ---------------------------------------------------------------------------------------------------- */
@media (max-width:575.98px) {
.hero-background-image-wrapper {
	padding-bottom: 40%;
	height: 0;
	width: 100%;
	position: relative;
}
#hero .intro-content {
	padding: 40px;
}
    #hero h2{font-size:var(--fs-3);line-height:var(--lh-3);}
    #droplinks .icon{min-width:0px;}
    #ibkr-advantage ul li {font-size: var(--p-font-size);
}
#open-acct {
	padding: 10px 0 20px;
}
#open-acct h2 {
	margin-bottom: 0px;
}
#open-acct a.btn {
	margin: 0 0 10px 0;
}
}
/* MEDIA QUERY | SMALL > 576px ---------------------------------------------------------------------------------------------------- */
@media (min-width:576px) and (max-width:767.98px) { 
.hero-background-image-wrapper {
	padding-bottom: 40%;
	height: 0;
	width: 100%;
	position: relative;
}
.hero-background-image {
	object-position: 50% 30%;
}
    #hero h2{font-size:var(--fs-1);line-height:var(--lh-1);}
    #droplinks .icon{min-width:0px;}
#hero .intro-content {
	padding: 40px;
}
#open-acct {
	padding: 30px 0 40px;
}
#open-acct h2{
	margin-bottom: 0px;
}
}
/* MEDIA QUERY | MEDIUM > 768px ---------------------------------------------------------------------------------------------------- */
@media (min-width:768px) and (max-width:991.98px) {
.hero-background-image-wrapper {
	padding-top: 40%;
	height: 0;
	width: 100%;
	position: relative;
}
.hero-background-image {
	object-position: 50% 20%;
}
#hero .intro-content {
	padding: 40px;
}
    #hero h2{font-size:var(--fs-1);line-height:var(--lh-1);}
    #droplinks .icon{min-width:100px;}
}
/* MEDIA QUERY | LARGE > 992px ---------------------------------------------------------------------------------------------------- */
@media (min-width:992px) and (max-width:1199.98px) {
.hero-background-image-wrapper {
	position: absolute;
	height: 100%;
	width: 40%;
	top: 0;
	inset-inline-end: 0;
}
#hero .intro-content{
	padding: 5rem 0;
}
    #hero h2{font-size:2.8125rem;line-height:1.3;}
    #droplinks .icon{min-width:100px;}
}
/* MEDIA QUERY | EXTRA LARGE > 1200px ---------------------------------------------------------------------------------------------------- */
@media (min-width:1200px) {
.hero-background-image-wrapper {
	position: absolute;
	height: 100%;
	width: 40%;
	top: 0;
	inset-inline-end: 0;
}
#hero {
	min-height: 380px;
	display: flex;
	align-items: center;}
#hero .intro-content{
	padding: 5rem 0;
}
    #hero h2{font-size:2.8125rem;line-height:1.3;}
    #droplinks .icon{min-width:110px;}
}