.icheckbox_square, .iradio_square, 
.icheckbox_square-aero, .iradio_square-aero, 
.icheckbox_square-grey, .iradio_square-grey, 
.icheckbox_square-red, .iradio_square-red, 
.icheckbox_square-orange, .iradio_square-orange, 
.icheckbox_square-yellow, .iradio_square-yellow, 
.icheckbox_square-green, .iradio_square-green, 
.icheckbox_square-blue, .iradio_square-blue, 
.icheckbox_square-purple, .iradio_square-purple,  
.icheckbox_square-pink, .iradio_square-pink {
	display:inline-block;
 	*display:inline;
	vertical-align:middle;
	margin:0;
	padding:0;
	width:22px;
	height:22px;
	border:none;
	cursor:pointer;
}
.icheckbox_square, .iradio_square { background:url("../../images/icheck-1.0.2/square.png") no-repeat; }
.icheckbox_square-aero, .iradio_square-aero { background:url("../../images/icheck-1.0.2/aero.png") no-repeat; }
.icheckbox_square-grey, .iradio_square-grey { background:url("../../images/icheck-1.0.2/grey.png") no-repeat; }
.icheckbox_square-red, .iradio_square-red { background:url("../../images/icheck-1.0.2/red.png") no-repeat; }
.icheckbox_square-orange, .iradio_square-orange { background:url("../../images/icheck-1.0.2/orange.png") no-repeat; }
.icheckbox_square-yellow, .iradio_square-yellow { background:url("../../images/icheck-1.0.2/yellow.png") no-repeat; }
.icheckbox_square-green, .iradio_square-green { background:url("../../images/icheck-1.0.2/green.png") no-repeat; }
.icheckbox_square-blue, .iradio_square-blue { background:url("../../images/icheck-1.0.2/blue.png") no-repeat; }
.icheckbox_square-purple, .iradio_square-purple { background:url("../../images/icheck-1.0.2/purple.png") no-repeat; }
.icheckbox_square-pink, .iradio_square-pink { background:url("../../images/icheck-1.0.2/pink.png") no-repeat; }
.icheckbox_square, 
.icheckbox_square-aero, 
.icheckbox_square-grey, 
.icheckbox_square-red, 
.icheckbox_square-orange, 
.icheckbox_square-yellow,  
.icheckbox_square-green, 
.icheckbox_square-blue, 
.icheckbox_square-purple, 
.icheckbox_square-pink {
	background-position:0 0;
}
.icheckbox_square.hover, 
.icheckbox_square-aero.hover,
.icheckbox_square-grey.hover,
.icheckbox_square-red.hover, 
.icheckbox_square-orange.hover, 
.icheckbox_square-yellow.hover, 
.icheckbox_square-green.hover, 
.icheckbox_square-blue.hover, 
.icheckbox_square-purple.hover, 
.icheckbox_square-pink.hover {
	background-position:-24px 0;
}
.icheckbox_square.checked, 
.icheckbox_square-aero.checked, 
.icheckbox_square-grey.checked, 
.icheckbox_square-red.checked, 
.icheckbox_square-orange.checked, 
.icheckbox_square-yellow.checked, 
.icheckbox_square-green.checked, 
.icheckbox_square-blue.checked, 
.icheckbox_square-purple.checked, 
.icheckbox_square-pink.checked {
	background-position:-48px 0;
}
.icheckbox_square.disabled, 
.icheckbox_square-aero.disabled, 
.icheckbox_square-grey.disabled, 
.icheckbox_square-red.disabled, 
.icheckbox_square-orange.disabled, 
.icheckbox_square-yellow.disabled, 
.icheckbox_square-green.disabled, 
.icheckbox_square-blue.disabled, 
.icheckbox_square-purple.disabled, 
.icheckbox_square-pink.disabled {
	background-position:-72px 0;
	cursor:default;
}
.icheckbox_square.checked.disabled, 
.icheckbox_square-aero.checked.disabled, 
.icheckbox_square-grey.checked.disabled, 
.icheckbox_square-red.checked.disabled, 
.icheckbox_square-orange.checked.disabled, 
.icheckbox_square-yellow.checked.disabled, 
.icheckbox_square-green.checked.disabled, 
.icheckbox_square-blue.checked.disabled, 
.icheckbox_square-purple.checked.disabled, 
.icheckbox_square-pink.checked.disabled {
	background-position:-96px 0;
}
.iradio_square, 
.iradio_square-aero, 
.iradio_square-grey, 
.iradio_square-red, 
.iradio_square-orange, 
.iradio_square-yellow, 
.iradio_square-green, 
.iradio_square-blue, 
.iradio_square-purple, 
.iradio_square-pink {
	background-position:-120px 0;
}
.iradio_square.hover, 
.iradio_square-aero.hover, 
.iradio_square-grey.hover, 
.iradio_square-red.hover, 
.iradio_square-orange.hover, 
.iradio_square-yellow.hover, 
.iradio_square-green.hover, 
.iradio_square-blue.hover, 
.iradio_square-purple.hover, 
.iradio_square-pink.hover {
	background-position:-144px 0;
}
.iradio_square.checked, 
.iradio_square-aero.checked, 
.iradio_square-grey.checked, 
.iradio_square-red.checked, 
.iradio_square-orange.checked, 
.iradio_square-yellow.checked, 
.iradio_square-green.checked, 
.iradio_square-blue.checked, 
.iradio_square-purple.checked, 
.iradio_square-pink.checked {
	background-position:-168px 0;
}
.iradio_square.disabled, 
.iradio_square-aero.disabled, 
.iradio_square-grey.disabled, 
.iradio_square-red.disabled, 
.iradio_square-orange.disabled, 
.iradio_square-yellow.disabled, 
.iradio_square-green.disabled, 
.iradio_square-blue.disabled, 
.iradio_square-purple.disabled, 
.iradio_square-pink.disabled {
	background-position:-192px 0;
	cursor:default;
}
.iradio_square.checked.disabled, 
.iradio_square-aero.checked.disabled, 
.iradio_square-grey.checked.disabled, 
.iradio_square-red.checked.disabled, 
.iradio_square-orange.checked.disabled, 
.iradio_square-yellow.checked.disabled, 
.iradio_square-green.checked.disabled, 
.iradio_square-blue.checked.disabled, 
.iradio_square-purple.checked.disabled, 
.iradio_square-pink.checked.disabled {
	background-position:-216px 0;
}
/* HI-DPI SUPPORT */
@media (-o-min-device-pixel-ratio:5/4), (-webkit-min-device-pixel-ratio:1.25), (min-resolution:120dpi) {
	.icheckbox_square,  .iradio_square {
		background-image:url("../../images/icheck-1.0.2/square-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-aero,  .iradio_square-aero {
		background-image:url("../../images/icheck-1.0.2/aero-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-grey,  .iradio_square-grey {
		background-image:url("../../images/icheck-1.0.2/grey-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-red,  .iradio_square-red {
		background-image:url("../../images/icheck-1.0.2/red-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-orange,  .iradio_square-orange {
		background-image:url("../../images/icheck-1.0.2/orange-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-yellow,  .iradio_square-yellow {
		background-image:url("../../images/icheck-1.0.2/yellow-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-green,  .iradio_square-green {
		background-image:url("../../images/icheck-1.0.2/green-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-blue,  .iradio_square-blue {
		background-image:url("../../images/icheck-1.0.2/blue-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-purple,  .iradio_square-purple {
		background-image:url("../../images/2015/template/icheck/purple-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
	.icheckbox_square-pink,  .iradio_square-pink {
		background-image:url("../../images/icheck-1.0.2/pink-2x.png");
		-webkit-background-size:240px 24px;
		background-size:240px 24px;
	}
}